<!-- Modal -->
<div class="modal fade" id="exampleModal"
     [ngClass]="{'show' : show}"
     [ngStyle]="{'display' : displayValue}"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Todo</h5>
        <button  (click)="hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formulaire = "ngForm">
          <label for="name" >Name</label>
          <input id="name" name="name" required [(ngModel)]="name" type="text" class="form-control">
          <label for="content" >Content</label>
          <input id="content" name="name"  required [(ngModel)]="content" type="text" class="form-control">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Close</button>
        <button type="button" class="btn btn-primary"
        (click)="addTodo()"
        >Add todo</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-4 col-sm-4">
 <h2> Todo</h2>
  <div
    class="todo dragList"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todos"
    [cdkDropListConnectedTo]="[doneList , doingList]"
    (cdkDropListDropped)="drop($event)">
    <div class="alert alert-danger"
         *ngFor="let todo of todos"
         cdkDrag
    [cdkDragData]="todo" >
      {{todo.title}} : {{todo.content}}</div>
    <div class="alert-light alert" (click)="display()">Add...</div>

  </div>
</div>
  <div class="col-md-4 col-sm-4">
    <h2>  Doing</h2>
    <div
      class="doing dragList"
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="[doneList , todoList]"
      (cdkDropListDropped)="drop($event)">
      <div class="alert alert-primary"
           *ngFor="let todo of doing"
           cdkDrag
           [cdkDragData]="todo"
      >
        {{todo.title}} : {{todo.content}}</div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <h2>  Done</h2>
    <div
      class="done dragList"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[doingList , todoList]"
      (cdkDropListDropped)="drop($event)">
      <div class="alert alert-success"
           *ngFor="let todo of done"
           cdkDrag
           [cdkDragData]="todo"
      >
        {{todo.title}} : {{todo.content}}</div>
    </div>
  </div>
</div>
